* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* TODO: Edit the sizing here so that it does not shrink too much */
#calculator {
    width: 30vw;
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "screen screen screen screen"
    "screen screen screen screen"
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "bigger_button bigger_button . .";
}

/* Change the flexbox into a grid OR make this solution more robust */
#screen {
    background-color: rgb(87, 87, 87);
    grid-area: screen;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#screen > p {
    color: rgb(252, 252, 252);
}

/* TODO: Make this better 
   FIXME: Make the font size responsive.*/
#history {
    padding-top: 1rem;
    padding-right: 0.5rem;
}

/* TODO: Make this better as well.
   FIXME: Make the font size responsive. */
#current_number {
    padding-top: 0.50em;
    padding-right: 0.5rem;
    font-size: 4rem;
}

button {
    background-color: rgb(112, 112, 112);
    color: white;
    font-size: 1.25rem;
    border: 0.5px solid rgba(0, 0, 0, 0.514);
}

button:active {
    background-color: rgb(189, 189, 189);
}

.function {
    background-color: rgb(65, 65, 65);
}

.function:active {
    background-color: rgb(102, 102, 102);
}

.symbol_button {
    background-color: orange;
}

/* FIXME: REMOVE THIS BECAUSE IT WILL BE DONE PROGRAMMATICALLY */
.symbol_button:focus {
    background-color: rgb(209, 136, 1);
}

.bigger_button {
    grid-area: bigger_button;
}